/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 5px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 1px 0;
        font-size: 90%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 1px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
        height: 600px;
    }

    .plan-box div a {
        margin: 20px;
    }
    
    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    header {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/alley.jpeg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/alley.jpeg);
        background-size: 100vh;
        background-position: center;
        height: 100vh;
        background-attachment: unset;
    }

    .section-cities {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/back-tools.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/back-tools.jpg);
        background-size: cover;
        color: #fff;
        background-attachment: unset;
    }
    

    .row,
    .hero-text-box { padding: 0 4%;}
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 5px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 1px 0;
        font-size: 90%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 1px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }

    .plan-box {
        width: 100%;
        margin-left: 0%;
        height: 485px;
    }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }

    .logo {
        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;
    }
        
    .construction-img {
    display: block;
    height: 230px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px #555; 
    }

    .building-img {
        display: block;
        height: 230px;
        text-align: right;
        margin-left: 90px;
        box-shadow: 5px 5px 5px #555;
    }
    .meal-photo img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        -webkit-transform: scale(1.35);
        -ms-transform: scale(1.35);
        transform: scale(1.35);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }


    .meal-photo img:hover {
        opacity: 1;
        -webkit-transform: scale(1.30);
        -ms-transform: scale(1.30);
        transform: scale(1.30);
    }
    
    .what-we-do-h3 {
        text-align: justify;
        font-size: 120%;
        margin: 0 0;
    }
    .list-what-we-do li {
        padding-bottom: 20px;
        margin-left: 40px;
    }

    .btn:link,
    .btn:visited,
    input[type=submit] {
    display: inline-block;
    padding: 10px 20px;
    margin: 3px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    }

    .slick-arrow {
        display: none!important;
    }

    .gallery-img {
        width: 100%;
    }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }

}